.sign {
	display:flex;
	justify-content: space-between;
	width: 100%;
	h2 {
		margin: 0px;
	}

	.login {
		display: flex;
		flex-direction: column;
		height: 300px;
		width: 40%;
		background-color: red;
		padding: 20px;
	}

	.sign_up {
		display: flex;
		flex-direction: column;
		height: 300px;
		width: 40%;
		background-color: blue;
		padding: 20px;
	}

	input {
		margin: 10px 0px;
		border: none;
		height: 30px;
		width: 300px;
	}
}