.articles {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  padding: 10px 50px ;
  
  .go-to {
    width: 300px;

    .article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      div {

        img {
          width: 100%;
        }

      }
    }
  }
}