.menu-bloc {
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
	display: flex;
	justify-content: center;

	.menu {
		display: flex;
		height: 100%;
		flex-direction: column;
		width: 80%;
		padding-top: 40px;
	}
}
