.article {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .back {
    height: 50px;
    width: 100%;
  }

  .article-part {
    display: flex;
    width: 100%;

    .image {
      display: flex;
      width: 65%;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
      }

      text {
        width: 100%;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      width: 40%;
      padding: 20px;

      h2 {
        margin: 0;
      }
    }
  }
}